.ProjectCard {
  background: #fafafa;
  color: #000;
  padding-bottom: 15px;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 400px;
  max-width: 600px;
  border: 1px solid #000;
  border-radius: 15px;
  z-index: 2;

  .actualResume {
    width: 100%;
    border: 1px solid #000;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 22px;
      width: 22px;
      margin-left: 10px;
    }
  }

  .project-preview {
    width: calc(100% - 40px);
    align-self: center;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 15px;
  }

  .date {
    margin-bottom: 10px;
  }

  .ProjectCard-handle {
    cursor: move;
    display: flex;
    height: 25px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    align-items: center;
    padding: 15px;
    padding-top: 17.5px;

    img {
      height: 15px;
      width: 15px;
    }
  }

  .ProjectCard-body {
    cursor: pointer;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 400px;
    overflow-y: scroll;
  }

  .infoBlock {
    padding-left: 25px;

    .header {
      margin-bottom: 5px;
    }

    .body, .url {
      font-weight: 100;
    }

    .body {
      padding: 0px 10px;
      padding-right: 25px;
    }

    .links {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 10px;
    }

    .url {
      color: #000;
      text-decoration: underline;
      margin: 5px 0px !important;
      font-size: 18px;
      &:hover {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .ProjectCard {
    min-width: 200px;
    max-width: 350px;
    z-index: 2;
  }

  .url {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}
