@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/roboto/RobotoMono-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 900;
  src: url('./assets/roboto/RobotoMono-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/roboto/RobotoMono-Italic.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/roboto/RobotoMono-Light.ttf') format('truetype') /* Safari, Android, iOS */
}

* {
  font-family: 'Roboto';
}

.Home {
  background: #D6E8FC;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.Home-Index-window {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -350px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
