.Index-window {
  text-align: left;
  background: #232323;
  border: 1px solid #000;
  border-radius: 30px;
  padding-bottom: 15px;
  position: relative;
  top: 50px;
  width: 50%;
  min-width: 450px;
  max-width: 700px;
  color: white;

  .Index-handle {
    cursor: move;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      padding: 0 24px;
      margin: 15px 0px;
    }
    h5 {
      padding: 0 16px;
      margin: 15px 0px;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      img {
        height: 22px;
        width: 22px;
        margin-left: 10px;
      }
    }
  }

  .Index-body {
    padding: 0px 25px;
    cursor: pointer;

    .name {
      margin-bottom: 0px;
      font-family: 'Gilroy-Medium';
    }

    .subtitle {
      margin-top: 10px;
      opacity: .81;
      margin-bottom: 25px;
    }
  }

  .project-links {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;

    .hover-photo {
      width: 50%;
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: -1;
      border: 1px solid white;
    }

    .project-link {
      display: flex;
      align-items: center;
      font-size: 20px;
    }

    .project-prefix {
      margin: 5px 0;
      margin-right: 5px;
      font-weight: 400;
    }

    .project-text {
      color: #ffffff;
      margin: 5px 0;
      &:hover {
        color: #898989;
        font-weight: 900;
        text-decoration: underline;
      }
    }
  }

  .hot-links {
    display: flex;
    justify-content: space-between;
    img {
      height: 20px;
    }
  }
}
